body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.id-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.divider {
  display: flex;
  gap: 15px;
}
.user-data2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-data {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  padding: 15px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.header {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
  background-color: blue;
  padding: 4px;
  border-radius: 8px;
}

.photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

.name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: black;
}

.email,
.phone {
  font-size: 12px;
  color: grey;
  margin-bottom: 3px;
  word-wrap: break-word;
}
